.singlecell {
	display: flex;
	height: 100vh;
	width: 100%;
	padding: 8px;
	box-sizing: border-box;
}

.singlecell > :first-child {
	flex: 1;
	height: 100%;
}

.singlecell > :last-child {
	width: 450px;
	flex-shrink: 0;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}
